body{
  background-color: #172c3f;
}
.title{
  text-align: center;
  font-family: monospace;
  color: whitesmoke;
}
.logo{
  width: 40px;
  height: 40px;
}
.contenedor-calculadora{
  background-color: steelblue;
  border: 1px solid whitesmoke;
  border-radius: 8px;
  width: fit-content;
  padding: 24px;
  display: flex;
  flex: 1 1;
  gap: 8px;
  flex-direction: column;
  margin: 32px auto;
}
.contenedor {
  display: flex;
  flex: 1 1;
  gap: 8px;
}

.boton {
  border: 1px solid grey;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  background-color: #172c3f;
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

.pantalla {
  border: 1px solid grey;
  border-radius: 8px;
  padding: 16px;
  outline: none;
  font-size:larger;
  font-weight: bolder;
  background-color: whitesmoke;
  text-align: center;
}

@media screen and (max-width:576px) {
  .contenedor-calculadora{
    width: 80vw;
    height: 60vh;
  }
  .pantalla{
    font-size: 32px;
  }
  .boton{
    font-size: 24px;
  }
  .boton:active{
    border: 2px inset whitesmoke;
  }
}
@media (hover:hover){
  .boton:hover{ 
    background-color: lightseagreen;
  }
}